<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpdb.jogo.jogodemariaauxiliadora">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_videogame_asset_"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_videogame_asset_"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.MainActivity"></activity>
        <activity android:name=".Activitys.dificil" />
        <activity android:name=".Activitys.medio" />
        <activity android:name=".Activitys.facil" />
        <activity android:name=".Activitys.como_jogar" />
        <activity android:name=".Activitys.devs" />
        <activity android:name=".Activitys.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>